/*Quitar los espacios que el naveagdor pone por defecto */

*{
	margin: 0px;
	padding: 0px;
}

/*Indicar que no se desea poner línea a los enlaces */

a
{
	text-decoration: none;
}

/*Indicar la fuente y tamaño de la página */
body
{
	font-family: Arial;
	font-size: 14px;/*em*/
}

/*Los li no tengan la viñeta */
li
{
	list-style: none;
}

nav
{
	border-radius: 10px;
	background-color: #0272a7; /*IE*/
	
	/*Gradiente para IE 8 -9 */
	/*filter : progid:DXImageTransform.Microsoft.gradient(startColorstr='#0272a7', endColorstr='#013953', GradientType=0);*/

	background: linear-gradient(top, #0272a7, #013953);*/
	/*background: -webkit-linear-gradient(top, #0272a7, #013953);*/
	box-shadow: inset 0px 0px 1px #edf9ff;
	height: 40px;
	margin: 10px auto; /*Arriba, centrado */
	width: 90%;
}

.menu
{
	margin: 30px auto 0px auto; /*izq, arr, der, abajo... */
	padding: 0px 20px; /*Arriba, Izquierda */
}

.menu li
{
	float: left;
	margin-top: 7px;
	margin-right: 30px;
	padding: 4px 10px;
	position: relative;
	text-align: center;
	
}

/* Mouse por encima */
.menu li:hover
{
	background: #f4f4f4; /*IE*/
	/*background: linear-gradient(top, #f4f4f4, #eee);*/
	background: -webkit-linear-gradient(top, #f4f4f4, #eee);
	border: 1px solid #777;
	/*border-radius:  5px 5px 0px 0px;*/
	padding: 4px 9px;
}

.menu li a{
	color: pink;
	text-shadow: 5px 5px 5px black;	
}

.menu li:hover a
{
	color: red;
	text-shadow: 1px 1px 1px gray;
}

.menu li:hover .caja_muestra
{
	display: block;
	left: -1px
}


.caja_muestra
{
	background: #eee;
	border: 1px solid black;
	border-radius: 0px 5px 5px 5px;
	border-top: none;
	display: none;
	margin: 4px auto;
	padding: 10px 5px;
	position: absolute;
	text-align: center;
	width: 350px;
}


.titulo
{
	border-bottom: 5px solid blue;
	margin-bottom: 20px;
}

.col
{
	float: left;
	margin: 10px;
	position: relative;
	width: 40%;
}

.col img
{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 2px solid black;
	box-shadow: 10px 10px 10px 5px black;
}

.flecha
{
	padding-right: 21px;
	background: url('../img/drop.png') no-repeat right 5px;
}

.textoColumna
{
	text-align: justify;
	column-count: 2;
	-webkit-column-count: 2;

	column-gap: 20px;
	-webkit-column-gap: 20px;

	column-rule: 2px solid blue;
	-webkit-column-rule: 2px solid blue;

	color: red;
}

video
{
	border-radius: 50%;
}

.login
{
	column-count: 2;
	-webkit-column-count: 2;
}

*:focus 
{
    outline: 0;
}